.vs
.cache
Bin
ProTrader/Bin
AlgoAgent/obj
AlgoStudio/obj
AvalonEdit/ICSharpCode.AvalonEdit/obj
AvalonEdit/ICSharpCode.CodeCompletion/obj
AvalonEdit/Nrefactory/ICSharpCode.NRefactory.CSharp/obj
AvalonEdit/Nrefactory/Mono.Cecil/obj
AvalonEdit/Nrefactory/ICSharpCode.NRefactory.Cecil/obj
AvalonEdit/Nrefactory/ICSharpCode.NRefactory.IKVM/obj
AvalonEdit/Nrefactory/ICSharpCode.NRefactory.Xml/obj
AvalonEdit/Nrefactory/ICSharpCode.NRefactory/obj
ProTrader/obj
WPF3DCore/obj
packages
Commons/obj
Controls/obj
DataVendors/PFSVendor/obj
DataVendors/Tester/obj
DataVendors/TestVenodr/obj
Misc/admintask/obj/
Misc/ClientApi/obj/
Misc/ClientApiWinExample/ClientApiWinExample/obj/
Misc/SDK/DepositExtension/obj/
Misc/SDK/EmbeddedWebpage/obj/
Misc/SDK/IndicatePartner/obj/
Misc/SDK/MultiTimeAndSales/obj/
Misc/ServerQuoteEmulator/obj/
SyntheticTradingTool/obj/
TradeApi/obj/
DotNetBar/obj
ExternalVendor/obj
FileSplitter/obj
Misc/ASEAnalizer/obj
Misc/AddCopyRight/obj
Misc/BrutTester/obj
Misc/CSConsole/obj
Misc/CreateInstallerTool/obj
Misc/SaveHistory/obj
Misc/ServerQuoteMediator/obj
Misc/SiteDocGenerator/SiteDocGenerator.CLI/obj
Misc/SiteDocGenerator/SiteDocGenerator.GUI/obj
Misc/SiteDocGenerator/SiteDocGenerator.Lib/obj
NewChart/obj
ProTrader2.VC.VC.opendb
ProTrader2.VC.db
Misc/Unittest
obj
/Misc/SiteDocGenerator/GenerateTradeLogicXml/obj
